<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Molengo&display=swap" rel="stylesheet">
    <link rel="sortcut icon" type="image/png" href="../favicon.ico">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <title>ingmarfalk</title>
</head>
<body id="container" class="bg-gray-200 font-mono">

  <div class="max-w-2xl mx-auto px-4 py-5">
    <h1 class="text-3xl font-semibold mb-5">Blog Posts</h1>    
    <div id="posts" class="space-y-6">
      {{ range . }}
        <div class="bg-white p-5 rounded shadow" 
          hx-get="/post/{{.ID}}" 
          hx-push-url="true" 
          hx-target="#container"
          hx-swap="innerHTML"
        >
          <h2 class="text-xl font-semibold mb-3">{{.Name}}</h2>
          <p class="text-gray-700">{{.Description}}</p>
        </div>
      {{ end }}
    </div>
  </div> 

</body>
</html>

